.tweet-feed-group-vertical {
  @extend %panel-group-vertical;
}

.tweet {
  @extend %panel-interactive;
  display: flex;
  padding: em(16);
}

.tweet-left {
  margin-right: em(16);
}

.tweet-right {
  flex: 1;
}

.tweet-avatar {
  @extend %avatar;
}

.tweet-author {
  font-weight: bold;
}

// .tweet-tweet {}

.tweet-toolbar {
  @extend %panel-group-horizontal;
  // display: none; // hidden by default?
  margin-top: em(8);

  button {
    &::before { // placeholder?
      padding-right: em(8);
      font-family: FontAwesome;
    }

    &.reply::before {
      content: $fa-var-reply;
    }

    &.retweet::before {
      content: $fa-var-retweet;
    }

    &.favorite::before {
      content: $fa-var-star;
    }
  }
}

//
// + Tweet box
// =============================================================================

.tweet-box-group-vertical {
  @extend %panel-group-vertical;
}

.tweet-box {
  @extend %panel;
  display: flex;
  padding: em(16);
  z-index: 2;

  button {
    &::before {
      padding-right: em(8);
      font-family: FontAwesome;
    }

    &.camera::before {
      content: $fa-var-camera;
    }

    &.location::before {
      content: $fa-var-map-marker;
    }

    &.post::before {
      content: $fa-var-twitter;
    }
  }

  textarea {
    height: em(32);

    &:focus {
      height: em(64);
    }
  }
}

.tweet-box-toolbar {
  @extend %panel-group-horizontal;
  @extend %panel-group-vertical-bottom;
}
