//
// + Jubmo
// =============================================


.jumbo {
  @include padding(64 32, em);
  min-height: em(128);
  background: center center;
  background-color: $color-1;
  background-size: cover;
  color: $color-4;
  text-align: center;

  // h1 {
  //   font-family: 'HelveticaNeue-CondensedBold';
  // }

  h6 {
    font-family: 'HelveticaNeue-Light';
  }

  @include breakpoint(6) {
    @include padding(96 64, em);
  }
}
