//
// + Blog
// =============================================


.blog {
  .meta {
    @include breakpoint(8) {
      padding-right: em($gutter-width);
      text-align: right;
      box-shadow: $border-right;
    }
  }

  .post {
    @extend %block-margin-top;
    margin-top: em($line-height); // Add this to %block-margin-top?

    .title {
      text-transform: uppercase;
    }

    // .date {}

    // .author {}
  }
}
