//
// + Blockquote
// =============================================================================


blockquote {
  @extend %block-margin-top;
  margin-top: $line-height / 2, em;
  padding: ($line-height / 2) $line-height, em;
  radius: 0 $border-radius $border-radius 0, em; // 0 or x?
  background-color: $color-first-1;
  color: $color-first-8;
  box-shadow: $border-left-bold;

  &.reverse {
    radius: $border-radius 0 0 $border-radius, em; // 0 or x?
    text-align: right;
    box-shadow: $border-right-bold;
  }

  footer {
    padding: $margin-top, em, 12;
    font-size: 12, em;
  }
}
