samp,
code {
  @extend %panel-style;
  padding: em($line-height / 8) em($line-height / 4);
  font-family: $font-monospace;
  border: $border-top;
}

kbd {
  @extend %panel-style;
  margin-left: em($line-height / 8);
  margin-right: em($line-height / 8);
  padding: em($line-height / 8) em($line-height / 4);
  font-family: $font-monospace;
  border: $border-bottom;
}

pre {
  @extend %panel;
  margin-top: em($line-height / 2);
  padding: em($line-height / 2) em($line-height);
  font-family: $font-monospace;
  line-height: 1.25;
  overflow: auto;
  word-wrap: normal;

  code {
    padding: 0;
    background-color: initial;
    box-shadow: initial;
  }
}
