//
// + Code
// =============================================================================


samp,
code {
  @extend %panel-style;
  padding: ($line-height / 8) ($line-height / 4), em;
  font-family: $font-monospace;
  box-shadow: $border-top;
}

kbd {
  @extend %panel-style;
  margin: x ($line-height / 8), em;
  padding: ($line-height / 8) ($line-height / 4), em;
  font-family: $font-monospace;
  box-shadow: $border-bottom;
}

pre {
  @extend %panel;
  margin-top: $line-height / 2, em;
  padding: ($line-height / 2) $line-height, em;
  font-family: $font-monospace;
  line-height: 1.25;
  overflow: auto;
  word-wrap: normal;

  code {
    padding: 0;
    background-color: initial;
    box-shadow: initial;
  }
}
