//
// + Form
// =============================================================================


%form-element {
  padding: 4 x, em;
  outline: initial;
}

button {
  @extend %panel-interactive;
  @extend %form-element;
}

input {
  @extend %form-element;
  line-height: $line-height, em; // Consistent with <button>

  &[type='text'] {
    @extend %panel-interactive-border;
  }

  &[type='button'] {
    @extend %panel-interactive;
  }
}

textarea {
  @extend %panel-interactive-border;
  @extend %form-element;
  resize: initial;

  &::-webkit-input-placeholder {
    color: $color-first-4;
  }
}
