//
// + Form
// =============================================================================


%form-element {
  @include padding(4 x, em);
  outline: none;
}

button {
  @extend %panel-interactive;
  @extend %form-element;
}

input {
  @extend %form-element;
  line-height: em($line-height); // Consistent with <button>

  &[type='text'] {
    @extend %panel-interactive-border;
  }

  &[type='button'] {
    @extend %panel-interactive;
  }
}

textarea {
  @extend %panel-interactive-border;
  @extend %form-element;
  resize: none;

  &::-webkit-input-placeholder {
    color: $color-first-4;
  }
}
