//
// + Horizontal rule
// =============================================================================


hr {
  height: $border-thickness, em;
  margin: $margin-top x, em;
  background-color: $color-first-2;

  &.bold {
    height: $border-thickness-bold, em;
    margin: ($margin-top - ($border-thickness / 2)) x, em;
  }
}
