// I'm unsure about this p tag. Is there a better place for stuff like this?
p {
  img,
  svg {
    max-width: 100%;
    float: left;
    border-radius: $border-radius;
    vertical-align: middle;
  }
}

img {
  $img-gutter-height: $gutter-height / 2;
  $img-gutter-width: $gutter-width / 2;

  &.left {
    margin-top: em($img-gutter-height);
    margin-right: em($img-gutter-width);
    margin-bottom: em($img-gutter-height);
    float: left;
  }

  &.right {
    margin-top: em($img-gutter-height);
    margin-bottom: em($img-gutter-height);
    margin-left: em($img-gutter-width);
    float: right;
  }
}
