//
// + List
// =============================================================================


ul,
ol {
  @include margin($font-size x x $line-height, em);
  list-style-position: inside;

  ul,
  ol {
    margin-top: unset;
  }

  &.unstyled {
    margin-left: em($line-height);
    list-style: none;
  }
}

ol.right {
  margin-left: em($line-height * 2);
  list-style-position: unset;

  ul,
  ol {
    margin-left: unset;
  }

  ol.right {
    margin-left: em($line-height);
  }
}
