//
// + List
// =============================================================================


ul,
ol {
  margin: $font-size x x $line-height, em;
  list-style-position: inside;

  ul,
  ol {
    margin-top: 0;
  }

  &.unstyled {
    margin-left: $line-height, em;
    list-style: none;
  }
}

ol.right {
  margin-left: $line-height * 2, em;
  list-style-position: initial;

  ul,
  ol {
    margin-left: 0;
  }

  ol.right {
    margin-left: $line-height, em;
  }
}
