//
// + Paragraph
// =============================================================================


p,
address {
  @extend %block-margin-top;
  margin-top: $line-height / 4, em;
}

small {
  $font-size-small: $font-size * .75; // move to variables?
  padding: x $font-size-small, em;
  font-size: $font-size-small, em;
}
