.post
  .grid-blog
    .column-blog-head-offset

    .column-blog-head
      h1.title
        a(href) This is a blog post

    .column-blog-meta
      .meta
        .date
          a(href) July 20, 2015

        .author
          a(href) Author Name

    .column-blog-content
      .grid-blog-post
        .column-blog-post
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          hr.post-seperator

        .column-blog-post-offset
