include buckle/buckle.jade

+html
  +head
    title Buckle

    //- Bower
    +style('bower_components/normalize-css/normalize')

    //- Buckle
    +style('dist/css/buckle')

  body
    #page.page

      +jumbo('wide')
        h1.title Buckle v0.0.0
        h6.subtitle A front-end component based framework.

      +jumbo
        h1.title Buckle v0.0.0
        h6.subtitle A front-end component based framework.

      include examples/panel.jade
      include examples/form-group.jade

      //- CopyCat examples
      include examples/github-commit-history.jade
      include examples/twitter-feed.jade

      //- Elements
      include examples/code.jade

    //- Bower
    +script('bower_components/jquery/dist/jquery.min')

    //- Buckle
    +script('dist/js/jquery.buckle')
