doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')

    title Buckle

    // Bower
    link(rel='stylesheet' href='bower_components/normalize-css/normalize.css')

    // Buckle
    link(href='dist/css/buckle.css', rel='stylesheet', type='text/css')

  body
    include components/menu.jade

    #page.page
      include components/header.jade
      //- include components/buckle.jade
      
      // Modules
      include components/blog.jade
      
      // Components
      //- include components/menu-sidebar.jade
      include components/heading.jade
      include components/code.jade
      include components/blockquote.jade
      include components/horizontal-rule.jade
      include components/list.jade
      
    // Bower
    script(src='bower_components/jquery/dist/jquery.min.js')

    // Buckle
    script(src='dist/scripts/js/jquery.buckle.js')
