include buckle/buckle.jade

doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')

    title Buckle

    //- Bower
    link(rel='stylesheet' href='bower_components/normalize-css/normalize.css')

    //- Buckle
    link(href='dist/css/buckle.css', rel='stylesheet', type='text/css')

  body
    #page.page
      +jumbo('wide')
        h1.title Buckle 1.0.0 Alpha
        h6.subtitle A front-end component based framework.

      +jumbo
        h1.title Buckle 1.0.0 Alpha
        h6.subtitle A front-end component based framework.

      include examples/panel.jade
      include examples/form-group.jade

      //- CopyCat examples
      include examples/github-commit-history.jade
      include examples/twitter-feed.jade

    //- Bower
    script(src='bower_components/jquery/dist/jquery.min.js')

    //- Buckle
    script(src='dist/js/jquery.buckle.js')
