doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')

    title Buckle

    // Bower
    link(rel='stylesheet' href='bower_components/normalize-css/normalize.css')

    // Buckle
    link(href='buckle/styles/css/buckle.css', rel='stylesheet', type='text/css')

  body
    include menu.jade

    #page.page
      include header.jade
      //- include buckle.jade
      
      // Modules
      include blog.jade
      
      // Components
      //- include menu-sidebar.jade
      include heading.jade
      include code.jade
      include blockquote.jade
      include horizontal-rule.jade
      include list.jade
      
    // Bower
    script(src='bower_components/jquery/dist/jquery.min.js')

    // Buckle
    script(src='buckle/scripts/js/jquery.buckle.js')
