doctype html
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')

    title Buckle

    //- Bower
    link(rel='stylesheet' href='bower_components/normalize-css/normalize.css')

    //- Buckle
    link(href='dist/css/buckle.css', rel='stylesheet', type='text/css')

  body
    include examples/menu.jade

    #page.page
      include examples/header.jade

      include examples/panel.jade

      //- Modules
      //- include examples/blog.jade

      //- CopyCat examples
      include examples/github-commit-history.jade
      include examples/twitter-feed.jade

      //- examples
      //- include examples/menu-sidebar.jade
      include examples/heading.jade
      include examples/code.jade
      include examples/blockquote.jade
      include examples/horizontal-rule.jade
      include examples/list.jade
      include examples/button.jade

    //- Bower
    script(src='bower_components/jquery/dist/jquery.min.js')

    //- Buckle
    script(src='dist/js/jquery.buckle.js')
