#menu-sidebar.menu
  .center
    .grid-menu
      .column-menu-left
        a#menu-button-sidebar.menu-button
        nav#menu-drawer-sidebar.menu-drawer.toggled
          ul
            li
              a.fa-chevron-right(href='##') Resume
              ul
                li: a(href='##') Link 1
                li: a(href='##') Link 2
                li: a(href='##') Link 3
            li
              a.fa-chevron-right(href='##') Contact
              ul
                li: a(href='##') Link 1
                li: a(href='##') Link 2
                li: a(href='##') Link 3
            li
              a.fa-chevron-right(href='##') User
              ul
                li: a.fa-plus(href='##') New Pen
                li: a.fa-pencil(href='##') New Post
                li: a.fa-wrench(href='##') Embed Builder
                hr.menu-separator
                li
                  a.fa-chevron-right(href='##') Your Pens
                  ul
                    li: a.fa-clock-o(href='##') Recent Pens
                    li: a.fa-users(href='##') Public Pens
                    li: a.fa-code-fork(href='##') Forked Pens
                    li: a.fa-heart(href='##') Loved Pens
                li
                  a.fa-chevron-right(href='##') Your Posts
                  ul
                    li: a.fa-file-text-o(href='##') View Posts
                    li: a.fa-file-text-o(href='##') Public Posts
                    li: a.fa-file-text-o(href='##') Manage Posts
                    li: a.fa-file-text-o(href='##') Loved Posts
                li
                  a.fa-chevron-right(href='##') Your Settings
                  ul
                    li: a.fa-cog(href='##') Editor Settings
                    li: a.fa-cog(href='##') Profile Settings
                    li: a.fa-cog(href='##') Blog Settings
                    li: a.fa-cog(href='##') Account Settings
                hr.menu-separator
                li: a.fa-power-off(href='##') Help
                li: a.fa-question-circle(href='##') Logout
