%button-group {
  display: flex;

  button {
    border-radius: unset; // should check to see if needs to be unset?
    flex: 1;

    &:hover,
    &:focus {
      background-color: mix(rgba($color-first-2, 1), $white, alpha($color-first-2) * 100); // make a Convert alpha to color mixing function
      z-index: 1;
    }

    &:active {
      background-color: mix(rgba($color-first-3, 1), $white, alpha($color-first-3) * 100);
    }
  }
}

.button-group-horizontal {
  @extend %button-group;

  button {
    @include margin(x x x (-$border-thickness), em);

    &:first-child {
      @include radius($border-radius x x $border-radius, em);
      @include margin(x x x 0, em);
    }

    &:last-child {
      @include radius(x $border-radius $border-radius x, em);
      @include margin(x (-$border-thickness) x x, em);
    }
  }
}

.button-group-vertical {
  @extend %button-group;

  flex-direction: column;

  button {
    @include margin((-$border-thickness) x x x, em);

    &:first-child {
      @include radius($border-radius $border-radius x x, em);
      @include margin(0 x x x, em);
    }

    &:last-child {
      @include radius(x x $border-radius $border-radius, em);
      @include margin(x x (-$border-thickness) x, em);
    }
  }
}
