%button-group {
  display: flex;

  button {
    border-radius: unset; // should check to see if needs to be unset?
    margin: unset;
  }
}

.button-group-horizontal {
  @extend %button-group;

  flex-direction: row;

  button {
    &:first-child {
      @include radius($border-radius x x $border-radius, em);
    }

    &:last-child {
      @include radius(x $border-radius $border-radius x, em);
    }
  }
}

.button-group-vertical {
  @extend %button-group;

  flex-direction: column;

  button {
    &:first-child {
      @include radius($border-radius $border-radius x x, em);
    }

    &:last-child {
      @include radius(x x $border-radius $border-radius, em);
    }
  }
}
