//
// + Variables
// =============================================


$font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-size: 16;
$line-height: 32;

$margin-top: $line-height/4;

$gutter-width: $line-height;
$gutter-height: $line-height/2;
