//
// + Menu Drawer
// =============================================================================


.menu-drawer {
  position: absolute;
  top: em($link-height);
  right: 0;
  width: 75vw;
  height: calc(100vh - #{em($gutter-height * 2)});

  @at-root .menu-inline & {
    position: absolute;
    top: em($link-height);
    right: 0;
  }

  @at-root .menu-dropdown & {
    @include breakpoint(4) {
      width: 50vw;
    }
  }

  @at-root .menu-dropdown & {
    @include breakpoint(6) {
      position: initial;
      width: initial;
      height: initial;
    }
  }

  ul {
    flex-direction: column;

    @at-root .menu-dropdown & {
      @include breakpoint(6) {
        flex-direction: initial;
      }
    }

    ul {
      display: block; // Prevents Chrome from squishing flex-items when animating height
      min-width: calc(100% + #{em($gutter-width)});
      height: 0;
      overflow: hidden;
      flex-direction: column;

      @at-root .menu-dropdown & {
        @include breakpoint(6) {
          padding-top: em(6);
          padding-bottom: em(6);
          position: absolute;
          top: em($link-height); // Prevents the bar from stretching when the menu expands
        }
      }

      ul {
        @at-root .menu-dropdown & {
          @include breakpoint(6) {
            padding-top: 0; // Remove drawer padding for nested drawers on desktop
            padding-bottom: 0; // Remove drawer padding for nested drawers on desktop
            position: initial;
            top: initial;
          }
        }
      }
    }
  }

  li {
    @at-root .menu-dropdown & {
      @include breakpoint(6) {
        position: relative; // Keeps the menus relative to the buttons
      }
    }

    > ul {
      opacity: 0;
      visibility: hidden;
    }
  }

  a {
    @include fa($link-height, $link-height);
    padding-right: em(16);
    padding-left: em(16);
  }
}
