//
// + Menu Drawer
// =============================================================================


.menu-drawer {
  absolute: $link-height 0 x x, em;
  width: 75vw;
  height: calc(100vh - #{em($gutter-height * 2)});

  @at-root .menu-inline & {
    absolute: $link-height 0 x x, em;
  }

  @at-root .menu-dropdown & {
    @include breakpoint(4) {
      width: 50vw;
    }
  }

  @at-root .menu-dropdown & {
    @include breakpoint(6) {
      position: initial;
      width: initial;
      height: initial;
    }
  }

  ul {
    flex-direction: column;

    @at-root .menu-dropdown & {
      @include breakpoint(6) {
        flex-direction: initial;
      }
    }

    ul {
      display: block; // Prevents Chrome from squishing flex-items when animating height
      min-width: calc(100% + #{em($gutter-width)});
      height: 0;
      overflow: hidden;
      flex-direction: column;

      @at-root .menu-dropdown & {
        @include breakpoint(6) {
          padding: 6 x, em; // Drawer padding on desktop
          absolute: $link-height x x x, em; // Prevents the bar from stretching when the menu expands
        }
      }

      ul {
        @at-root .menu-dropdown & {
          @include breakpoint(6) {
            padding: 0 x, em; // Remove drawer padding for nested drawers on desktop
            position-initial: initial x x x;
          }
        }
      }
    }
  }

  li {
    @at-root .menu-dropdown & {
      @include breakpoint(6) {
        position: relative; // Keeps the menus relative to the buttons
      }
    }

    > ul {
      opacity: 0;
      visibility: hidden;
    }
  }

  a {
    @include fa($link-height, $link-height);
    padding: x 16 x 16, em;
  }
}
