.blog {
  .meta {
    @include breakpoint(8) {
      padding-right: em($gutter-width);
      text-align: right;
      box-shadow: $border-right;
    }
  }

  .post {
    @extend %block-margin-top;
    margin-top: em($line-height); // Add this to %block-margin-top?

    p {
      @include breakpoint(8) {
        font-size: em(20);
      }
    }
  }

  // %anchor-second {
  //   &,
  //   &:link,
  //   &:visited,
  //   &:active {
  //     color: $color-second-12;
  //   }
  //
  //   &:hover,
  //   &:focus {
  //     color: $color-second-16;
  //   }
  // }

  .title a {
    // @extend %anchor-second;
  }

  // .date {}

  // .author {}
}
