//
// + Anchors
// =============================================


@mixin anchor($normal, $active) {
  $color: nth($normal, 1);
  $background: nth($normal, 2);

  $active-color: nth($active, 1);
  $active-background: nth($active, 2);

  &,
  &:link,
  &:visited,
  &:active {
    background: $background;
    color: $color;
  }

  &:hover,
  &:focus {
    background: $active-background;
    color: $active-color;
  }
}

%anchor-first {
  @include anchor(
    $color-first-8 unset,
    $color-first-12 unset
  );
}

%anchor-second {
  @include anchor(
    $color-second-12 unset,
    $color-second-16 unset
  );
}

a {
  @extend %anchor-first;
  text-decoration: none;
  cursor: pointer;
}
