//
// + Images
// =============================================


p {
  img,
  svg {
    max-width: 100%;
    float: left;
    border-radius: $border-radius;
    vertical-align: middle;
  }
}

svg {
  width: 100%;
  transform: translateZ(0); // Fixes blurry SVGs when using filters
}
