//
// + Type
// =============================================


// ::selection {}

body {
  font-family: $font-family;
  line-height: un($line-height);
}

p,
address {
  @extend %block-margin-top;
  margin-top: em($line-height/4);
}

hr {
  @include margin(($margin-top - 1) x -1 x, em); // Centers
  height: em($border-thickness);
  background-color: $color-first-2;

  &.bold {
    height: em($border-thickness-bold);
  }
}

small {
  font-size: em(8);
}
