%anchor-first {
  &,
  &:link,
  &:visited,
  &:active {
    color: $color-first-8;
  }

  &:hover,
  &:focus {
    color: $color-first-12;
  }
}

%anchor-second {
  &,
  &:link,
  &:visited,
  &:active {
    color: $color-second-12;
  }

  &:hover,
  &:focus {
    color: $color-second-16;
  }
}

a {
  @extend %anchor-first;
  text-decoration: none;
  cursor: pointer;
}
