//
// + Anchor
// =============================================================================


a {
  text-decoration: none;
  cursor: pointer;

  &,
  &:link,
  &:visited,
  &:active {
    color: $color-first-8;
  }

  &:hover,
  &:focus {
    color: $color-first-12;
  }
}
