button {
  @include padding(x 16, em);
  border-radius: em($border-radius);
  outline: unset;
  background-color: $white;
  color: $color-first-8;
  box-shadow: $border;

  &:hover,
  &:focus {
    background-color: $color-first-2;
  }

  &:active {
    background-color: $color-first-3;
  }
}
