//
// + Horizontal rule
// =============================================================================


hr {
  @include margin($margin-top x, em);
  height: em($border-thickness);
  background-color: $color-first-2;

  &.bold {
    @include margin(($margin-top - ($border-thickness / 2)) x, em);
    height: em($border-thickness-bold);
  }
}
