//
// + Variables
// =============================================


// Basic colors
$white: #fff;
$black: #000;

// Theme colors
$primary-color: rgb(0, 127, 191);
$secondary-color: rgb(255, 127, 63);
$background-color: $white;

// Interface colors
$color: mix($black, $primary-color);
$color-1:  rgba($color, .0625 * 1);
$color-2:  rgba($color, .0625 * 2);
$color-3:  rgba($color, .0625 * 3);
$color-4:  rgba($color, .0625 * 4);
$color-5:  rgba($color, .0625 * 5);
$color-6:  rgba($color, .0625 * 6);
$color-7:  rgba($color, .0625 * 7);
$color-8:  rgba($color, .0625 * 8);
$color-9:  rgba($color, .0625 * 9);
$color-10: rgba($color, .0625 * 10);
$color-11: rgba($color, .0625 * 11);
$color-12: rgba($color, .0625 * 12);
$color-13: rgba($color, .0625 * 13);
$color-14: rgba($color, .0625 * 14);
$color-15: rgba($color, .0625 * 15);
$color-16: rgba($color, .0625 * 16);

// Border settings
$border-radius: 4;
$border-thickness: 2;
$border-thickness-bold: $border-thickness*2;

// Border variables
$border: inset 0 0 0 em($border-thickness) $color-2;
$border-top: inset 0 em($border-thickness) 0 0 $color-2;
$border-bottom: inset 0 em(-$border-thickness) 0 0 $color-2;
$border-left: inset em($border-thickness) 0 0 0 $color-2;
$border-right: inset em(-$border-thickness) 0 0 0 $color-2;

// Bold border variables
$border-bold: inset 0 0 0 em($border-thickness-bold) $color-2;
$border-top-bold: inset 0 em($border-thickness-bold) 0 0 $color-2;
$border-bottom-bold: inset 0 em(-$border-thickness-bold) 0 0 $color-2;
$border-left-bold: inset em($border-thickness-bold) 0 0 0 $color-2;
$border-right-bold: inset em(-$border-thickness-bold) 0 0 0 $color-2;
