//
// + Variables
// =============================================


// Basic colors
$white: #fff;
$black: #000;

// Theme Colors
$color-first: rgb(0, 127, 191);
$color-second: rgb(255, 127, 63);
$background-color: $white;

@import 'color-first';
@import 'color-second';

// Borders
// $border-radius: 4;
$border-radius: null;
$border-thickness: 2;
$border-thickness-bold: $border-thickness*2;
$border-color: $color-first-2;

@import 'borders';

// Fonts
// $display-font: ;
// $
