.commit-group-vertical {
  @extend %panel-group-vertical;
}

.commit-group-horizontal {
  @extend %panel-group-horizontal;

  button {
    // I'm not sure if this is good or bad.
    // Should button groups always make buttons flex?
    flex: initial;
  }
}

.commit {
  @extend %panel-interactive;
  display: flex;
  padding: em(8 16)
}

.commit-left,
.commit-right {
  display: flex; // Allows multiple commit-group-horizontal to be side by side
}

.commit-left {
  flex: 1; // Pushes .commit-right all the way to the right
}

.commit-right {
  padding-top: em(8);
  padding-bottom: em(8);

  .commit-group-horizontal:first-child {
    margin-right: em(16);
  }
}

.commit-information-left {
  margin-right: em(16);
}

// .commit-information-right {}

.commit-avatar {
  @extend %avatar;
  width: em(48);
  height: em(48);

  &::before {
    width: em(18);
    height: em(18);
  }
}

.commit-title {
  font-weight: bold;
}

// .commit-author {}
