//
// + Jumbo
// =============================================================================


%jumbo {
  @extend %panel;
  min-height: 128, em;
  padding: 64 32, em;
  background: center center;
  background-image: url('../../images/banner.png');
  background-size: cover;
  color: $white;
  text-align: center;

  @include breakpoint(6) {
    padding: 96 64, em;
  }

  // .title {}
  // .subtitle {}
}

.jumbo {
  @extend %jumbo;
}

.jumbo-wide {
  @extend %jumbo;
  border-radius: 0;
}
