// DEPREATED?
// %block-margin-top {
//   &:first-child {
//     margin-top: 0;
//   }
// }

%avatar {
  position: relative;
  width: em(70);
  height: em(70);
  border-radius: 50%;
  background-color: $white;
  background-size: cover;
  border: $border;

  @at-root .transparent & {
    background-color: $color-first-1;
  }

  // SEPERATE PLACEHOLDER
  &::before {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: em(70 / (8 / 3));
    height: em(70 / (8 / 3));
    border-radius: 50%;
    background-color: $white;
    border: $border;
    content: '';

    @at-root .transparent & {
      background-color: $color-first-1;
    }
  }
}
