// DEPREATED?
// %block-margin-top {
//   &:first-child {
//     margin-top: 0;
//   }
// }

%avatar {
  position: relative;
  width: em(64);
  height: em(64);
  border-radius: 50%;
  background-color: $color-first-1;
  background-size: cover;
  border: $border;

  // SEPERATE PLACEHOLDER
  &::before {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: em(24);
    height: em(24);
    border-radius: 50%;
    background-color: $color-first-1;
    border: $border;
    content: '';
  }
}
