//
// + Menu
// =============================================================================


.menu {
  position: fixed;
  width: 100%;
  white-space: nowrap; // All text stays on one line
  z-index: 1; // Keeps menu on top of animated or transitioned item in Chrome

  // Prevents text from being selected
  // SCSS Lint: This property is non-standard.
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &.menu-inline {
    position: relative;
  }

  &.menu-dropdown {
    @include breakpoint(6) {
      @include padding(x ($gutter-width / 2), em);
    }
  }

  ul {
    @include transition(height opacity, $transition-speed);
    display: flex;
    margin: 0;
  }

  li {
    list-style: none;

    &::before { // Overrides type.scss
      padding: unset;
      content: unset;
    }
  }

  a {
    @include padding(x 8, em);
    @include transition(color background, $transition-speed);
    display: block;
    line-height: em($link-height);

    &::before {
      @include transition(transform, $transition-speed);
    }
  }
}
