.wrapper
  .center
    h4
      a(href='#heading') # Blockquote
    br
    
    .grid-blockquote
      .column-blockquote
        p: code blockquote
        pre.
          blockquote
            include lorem.md
            hr
            footer
              include lorem.md
        blockquote
          include lorem.md
          hr
          footer
            include lorem.md
            
      .column-blockquote
        p: code blockquote.reverse
        pre.
          blockquote.reverse
            include lorem.md 
            hr
            footer
              include lorem.md
        blockquote.reverse
          include lorem.md 
          hr
          footer
            include lorem.md
