.wrapper
  .center
    h6 Horizontal rule
    br
    
    .grid-horizontal-rule
      .column-horizontal-rule
        p: code hr
        hr
    
      .column-horizontal-rule
        p: code hr.bold
        hr.bold
