.wrapper
  .center
    h6 List
    br

    .grid-list
      .column-list
        p: code ul li
        pre.
          ul
            li List item
            li List item
            li List item
              ul
                li Nested list item
                li Nested list item
                li Nested list item
        ul
          li List item
          li List item
          li List item
            ul
              li Nested list item
              li Nested list item
              li Nested list item

      .column-list
        p: code ol li
        pre.
          ol
            li List item
            li List item
            li List item
              ol
                li Nested list item
                li Nested list item
                li Nested list item
        ol
          li List item
          li List item
          li List item
            ol
              li Nested list item
              li Nested list item
              li Nested list item

      .column-list
        p: code ul.unstyled li
        pre.
          ul.unstyled
            li List item
            li List item
            li List item
              ul.unstyled
                li Nested list item
                li Nested list item
                li Nested list item
        ul.unstyled
          li List item
          li List item
          li List item
            ul.unstyled
              li Nested list item
              li Nested list item
              li Nested list item
