//
// + Typography
// =============================================


$font-headings: $font-first !default;

$margin-top: $line-height / 4 !default; // needs a new name

$gutter-width: $line-height !default;
$gutter-height: $line-height / 2 !default;
