$border: em($border-thickness) solid $border-color !default;
$border-top: em($border-thickness) 0 0 0 solid $border-color !default;
$border-right: 0 em($border-thickness) 0 0 solid $border-color !default;
$border-bottom: 0 0 em($border-thickness) 0 solid $border-color !default;
$border-left: 0 0 0 em($border-thickness) solid $border-color !default;

$border-thickness-bold: $border-thickness * 2 !default;
$border-bold: em($border-thickness-bold) solid $border-color !default;
$border-bold-top: em($border-thickness-bold) 0 0 0 solid $border-color !default;
$border-bold-right: 0 em($border-thickness-bold) 0 0 solid $border-color !default;
$border-bold-bottom: 0 0 em($border-thickness-bold) 0 solid $border-color !default;
$border-bold-left: 0 0 0 em($border-thickness-bold) solid $border-color !default;

$border-thickness-thin: $border-thickness / 2 !default;
$border-thin: em($border-thickness-thin) solid $border-color !default;
$border-thin-top: em($border-thickness-thin) 0 0 0 solid $border-color !default;
$border-thin-right: 0 em($border-thickness-thin) 0 0 solid $border-color !default;
$border-thin-bottom: 0 0 em($border-thickness-thin) 0 solid $border-color !default;
$border-thin-left: 0 0 0 em($border-thickness-thin) solid $border-color !default;
