$border-inset: inset 0 0 0 em($border-thickness) $border-color !default;
$border-inset-top: inset 0 em($border-thickness) 0 0 $border-color !default;
$border-inset-bottom: inset 0 em(-$border-thickness) 0 0 $border-color !default;
$border-inset-left: inset em($border-thickness) 0 0 0 $border-color !default;
$border-inset-right: inset em(-$border-thickness) 0 0 0 $border-color !default;

$border-inset-bold: inset 0 0 0 em($border-thickness-bold) $border-color !default;
$border-inset-top-bold: inset 0 em($border-thickness-bold) 0 0 $border-color !default;
$border-inset-bottom-bold: inset 0 em(-$border-thickness-bold) 0 0 $border-color !default;
$border-inset-left-bold: inset em($border-thickness-bold) 0 0 0 $border-color !default;
$border-inset-right-bold: inset em(-$border-thickness-bold) 0 0 0 $border-color !default;

$border-inset-thin: inset 0 0 0 em($border-thickness-thin) $border-color !default;
$border-inset-top-thin: inset 0 em($border-thickness-thin) 0 0 $border-color !default;
$border-inset-bottom-thin: inset 0 em(-$border-thickness-thin) 0 0 $border-color !default;
$border-inset-left-thin: inset em($border-thickness-thin) 0 0 0 $border-color !default;
$border-inset-right-thin: inset em(-$border-thickness-thin) 0 0 0 $border-color !default;
