//
// + Layout
// =============================================================================


body {
  min-width: px($page-min);
}

.center {
  width: 100%;
  max-width: em($page-max);
  margin: auto;
}

.wrapper {
  padding: em($gutter-width);
}

[class^='grid-'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
