//
// + Layout
// =============================================================================


body {
  min-width: $page-min, px;
}

.wrapper {
  display: flex;
  padding: $gutter-width, em;
  justify-content: center;
}

.center {
  // width: 100%; // i'm not sure if i could use flex or auto for centering
  // margin: auto;
  max-width: $page-max, em;
  flex: 1;
}

[class^='grid-'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: if($product-grid == true, flex-start, space-between);
}
