//
// + Layout
// =============================================================================


body {
  min-width: px($page-min);
}

.center {
  // width: 100%; // i'm not sure if i could use flex or auto for centering
  // margin: auto;
  max-width: em($page-max);
  flex: 1;
}

.wrapper {
  display: flex;
  padding: em($gutter-width);
  justify-content: center;
}

[class^='grid-'] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
