//
// + Variables
// =============================================================================


$column-amount: 12 !default;

$gutter-width: 32 !default;
$gutter-height: 16 !default;

$page-max: 1280 !default;
$page-min: 320 !default;
