.wrapper
  .center
    h4
      a(href='#input') # Input
    br

    .grid-button
      .column-button
        p: code button
        button Button
        button Button
        button Button
        button Button
        button Button

      .column-button
        p: code .input-group-horizontal button
        .input-group-horizontal
          button Button
          button Button
          button Button
          button Button
          button Button

      .column-button
        p: code .input-group-vertical button
        .input-group-vertical
          button Button
          button Button
          button Button
          button Button
          button Button

      .column-button
        p: code .input-group-vertical button
        .input-group-horizontal
          input(type='text' name='Search')
          button Search
