.wrapper
  .center
    h4
      a(href='#button') # Button
    br

    .grid-button
      .column-button
        p: code button
        
        include buckle/components/button/button.jade
        
        button Button
        button Button
        button Button
        button Button
        button Button
        
      .column-button
        p: code button
        
        .button-group-horizontal
          button Button
          button Button
          button Button
          button Button
          button Button
        
      .column-button
        p: code button
        
        .button-group-vertical
          button Button
          button Button
          button Button
          button Button
          button Button
