.wrapper
  .center
    h4
      a(href='#input') # Input
    br

    .grid-input
      .column-input
        p: code button
        button Button
        button Button
        button Button
        button Button

      .column-input
        p: code .input-group-horizontal
        p: code button
        .input-group-horizontal
          button Button
          button Button
          button Button
          button Button

      .column-input
        p: code .input-group-vertical
        p: code button
        .input-group-vertical
          button Button
          button Button
          button Button
          button Button
          button Button

      .column-input
        p: code input(type='button')
        input(type='button' value='Button')
        input(type='button' value='Button')
        input(type='button' value='Button')
        input(type='button' value='Button')

      .column-input
        p: code .input-group-horizontal
        p: code input(type='button')
        .input-group-horizontal
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')

      .column-input
        p: code .input-group-horizontal
        p: code input(type='button')
        .input-group-vertical
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')

    .grid-input
      .column-input
        p: code .input-group-horizontal
        .input-group-horizontal
          input(type='text' name='Search')
          button Search
