.wrapper
  .center
    h4
      a(href='#input') # Form
    br

    .grid-form
      .column-form
        p: code button
        button Button
        button Button
        button Button
        button Button

      .column-form
        p: code .form-group-horizontal
        p: code button
        .form-group-horizontal
          button Button
          button Button
          button Button
          button Button

      .column-form
        p: code .form-group-vertical
        p: code button
        .form-group-vertical
          button Button
          button Button
          button Button
          button Button
          button Button

      .column-form
        p: code input(type='button')
        input(type='button' value='Button')
        input(type='button' value='Button')
        input(type='button' value='Button')
        input(type='button' value='Button')

      .column-form
        p: code .form-group-horizontal
        p: code input(type='button')
        .form-group-horizontal
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')

      .column-form
        p: code .form-group-horizontal
        p: code input(type='button')
        .form-group-vertical
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')
          input(type='button' value='Button')

    .grid-input
      .column-form
        p: code .form-group-horizontal
        .form-group-horizontal
          input(type='text' name='Search')
          button Search
