#menu.menu.menu-dropdown
  .center
    .grid-menu
      .column-menu-left
        ul
          li: a.menu-brand(href) Buckle
          
      .column-menu-right
        a#menu-button.menu-button
        nav#menu-drawer.menu-drawer
          ul
            li
              a.fa-chevron-right(href='##') Link
              ul
                li: a(href='##') Link 1
                li: a(href='##') Link 2
                li: a(href='##') Link 3
            li
              a.fa-chevron-right(href='##') Link
              ul
                li: a(href='##') Link 1
                li: a(href='##') Link 2
                li: a(href='##') Link 3
            li
              a.fa-chevron-right(href='##') User
              ul
                li: a.fa-plus(href='##') New
                li: a.fa-pencil(href='##') Edit
                li: a.fa-wrench(href='##') Build
                hr.menu-separator
                li
                  a.fa-chevron-right(href='##') Published
                  ul
                    li: a.fa-clock-o(href='##') Recent
                    li: a.fa-users(href='##') Public
                    li: a.fa-code-fork(href='##') Forked
                    li: a.fa-heart(href='##') Loved
                li
                  a.fa-chevron-right(href='##') Posts
                  ul
                    li: a.fa-file-text-o(href='##') View
                    li: a.fa-file-text-o(href='##') Public
                    li: a.fa-file-text-o(href='##') Manage
                    li: a.fa-file-text-o(href='##') Loved
                li
                  a.fa-chevron-right(href='##') Settings
                  ul
                    li: a.fa-cog(href='##') Editor
                    li: a.fa-cog(href='##') Profile
                    li: a.fa-cog(href='##') Blog
                    li: a.fa-cog(href='##') Account
                hr.menu-separator
                li: a.fa-question-circle(href='##') Help
                li: a.fa-power-off(href='##') Sign out
