.wrapper
  .center
    .grid-input
      .column-input
        .commit-group-vertical
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade

.wrapper.transparent
  .center
    .grid-input
      .column-input
        .commit-group-vertical
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
