.commit
  .commit-left
    .commit-avatar
    .commit-title Initial Commit
    .commit-author dustindowell22 authored 5 minutes ago
  .commit-right
    .commit-group-horizontal
      button Copy
      button Commit
    button Code
