.commit
  .commit-left
    .commit-information-left
      .commit-avatar
    .commit-information-right
      .commit-title Initial Commit
      .commit-author dustindowell22 authored 5 minutes ago
  .commit-right
    .commit-group-horizontal
      button Copy
      button Commit
    .commit-group-horizontal
      button Code
