.commit
  .commit-left
    .commit-avatar Avatar
    .commit-title Initial Commit
    .commit-author dustindowell22 authored 5 minutes ago
  .commit-right
    .input-group-horizontal
      button Copy
      button Commit
    button Code
