.wrapper
  .center
    .grid-github
      .column-github
        .commit-group-vertical
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade

.wrapper.transparent
  .center
    .grid-github
      .column-github
        .commit-group-vertical
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
