.wrapper
  .center
    .grid-input
      .column-input
        .input-group-vertical
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
          include github-commit.jade
