header.wrapper.jumbo
  .center
    h1.title Buckle 1.0.0 Alpha
    h6.subtitle Stick'em with the pointy end.

article.wrapper
  .center
    p Reserved classnames that require a qualifying element.
    ul
      li blockquote.reverse
      li ol.right
      li ul.unstyled
      li hr.bold
      li img.left
      li img.right

    p Bugs
    ul
      li Element catch margin-top is offest
      li When opening a menu while on mobile then switching to desktop the menu height isn't updated
