.wrapper
  .center
    h4
      a(href='#heading') # Horizontal rule
    br

    .grid-horizontal-rule
      .column-horizontal-rule
        p: code hr
        hr

      .column-horizontal-rule
        p: code hr.bold
        hr.bold
