.wrapper
  .center
    h4
      a(href='#heading') # List
    br

    .grid-list
      .column-list
        p: code ul li
        ul
          li List item
          li List item
          li List item
            ul
              li Nested list item
              li Nested list item
              li Nested list item
        pre.
          ul
            li List item
            li List item
            li List item
              ul
                li Nested list item
                li Nested list item
                li Nested list item

      .column-list
        p: code ul.unstyled li
        ul.unstyled
          li List item
          li List item
          li List item
            ul.unstyled
              li Nested list item
              li Nested list item
              li Nested list item
        pre.
          ul.unstyled
            li List item
            li List item
            li List item
              ul.unstyled
                li Nested list item
                li Nested list item
                li Nested list item

      .column-list
        p: code ol li
        ol
          li List item
          li List item
          li List item
            ol
              li Nested list item
              li Nested list item
              li Nested list item
        pre.
          ol
            li List item
            li List item
            li List item
              ol
                li Nested list item
                li Nested list item
                li Nested list item

      .column-list
        p: code ol.right li
        ol.right
          li List item
          li List item
          li List item
            ol.right
              li Nested list item
              li Nested list item
              li Nested list item
        pre.
          ol.right
            li List item
            li List item
            li List item
              ol.right
                li Nested list item
                li Nested list item
                li Nested list item
