.wrapper
  .center
    .grid-panel
      .column-panel
        p Panel
        .panel Test
        .panel Test
        .panel Test

        .panel-group-vertical
          .panel Test
          .panel Test
          .panel Test

        .panel-group-horizontal
          .panel Test
          .panel Test
          .panel Test

      .column-panel.transparent
        P Transparent panel
        .panel Test
        .panel Test
        .panel Test

        .panel-group-vertical
          .panel Test
          .panel Test
          .panel Test

        .panel-group-horizontal
          .panel Test
          .panel Test
          .panel Test

      .column-panel
        P Interactive panel
        .panel-interactive Test
        .panel-interactive Test
        .panel-interactive Test

        .panel-group-vertical
          .panel-interactive Test
          .panel-interactive Test
          .panel-interactive Test

        .panel-group-horizontal
          .panel-interactive Test
          .panel-interactive Test
          .panel-interactive Test

      .column-panel.transparent
        p Transparent interative panel
        .panel-interactive Test
        .panel-interactive Test
        .panel-interactive Test

        .panel-group-vertical
          .panel-interactive Test
          .panel-interactive Test
          .panel-interactive Test

        .panel-group-horizontal
          .panel-interactive Test
          .panel-interactive Test
          .panel-interactive Test
