.wrapper
  .center
    .panel Test
    .panel Test
    .panel Test

    .panel-group-vertical
      .panel Test
      .panel Test
      .panel Test

    .panel-group-horizontal
      .panel Test
      .panel Test
      .panel Test
