.tweet
  .tweet-left
    .tweet-avatar
  .tweet-right
    .tweet-author Dustin Dowell
    .tweet-tweet Abcdefg hijklmnop qrs tuv wx yz. Abcdefg hijklmnop qrs tuv wx yz. Abcdefg hijklmnop qrs tuv wx yz. Abcdefg hijklmnop qrs tuv wx yz.
