.tweet-box
  .tweet-left
    .tweet-avatar
  .tweet-right
    .tweet-box-group
      textarea(placeholder="What's happening?")
      .tweet-toolbar
        button Camera
        button Location
        button Tweet
