.wrapper
  .center
    .grid-twitter
      .column-twitter
        .tweet-feed-group-vertical
          include twitter-tweet-box.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade

.wrapper.transparent
  .center
    .grid-twitter
      .column-twitter
        .tweet-feed-group-vertical
          include twitter-tweet-box.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
