.wrapper
  .center
    .grid-input
      .column-input
        .feed-group-vertical
          include twitter-tweet-box.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade

.wrapper.transparent
  .center
    .grid-input
      .column-input
        .feed-group-vertical
          include twitter-tweet-box.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
          include twitter-tweet.jade
