//
// + Commit
// =============================================================================


.commit-group-vertical {
  @extend %panel-group-vertical;
}

.commit-group-horizontal {
  @extend %panel-group-horizontal;

  button {
    // I'm not sure if this is good or bad.
    // Should button groups always make buttons flex?
    flex: none;
  }
}

.commit {
  @extend %panel;
  @include padding(8 16, em);
  display: flex;
}

.commit-left,
.commit-right {
  display: flex; // Allows multiple commit-group-horizontal to be side by side
}

.commit-left {
  flex: 1;
}

.commit-right {
  @include padding(8 x, em);

  .commit-group-horizontal:first-child {
    margin-right: em(16);
  }
}

.commit-avatar {
  @include size(48, em);
  @include min-size(48, em);
  border-radius: 50%;
  background-color: $color-first-2;
}
