//
// + Feed
// =============================================================================

.tweet-feed-group-vertical {
  @extend %panel-group-vertical;
}

//
// + Tweet
// =============================================================================

.tweet {
  @extend %panel-interactive;
  display: flex;
  padding: em(16);
}

.tweet-left {
  margin-right: em(16);
}

.tweet-right {
  flex: 1;
}

.tweet-avatar {
  @include size(62, em);
  @include min-size(48, em);
  border-radius: 50%;
  background-color: $color-first-1;
  background-image: url('../../avatar.png');
  background-size: cover;
  box-shadow: $border;
}

.tweet-author {
  font-weight: bold;
}

// .tweet-tweet {}

//
// + Tweet box
// =============================================================================

.tweet-box-group-vertical {
  @extend %panel-group-vertical;
}

.tweet-box {
  @extend %panel;
  display: flex;
  padding: em(16);
  z-index: 2;

  textarea {
    height: em(32);

    &:focus {
      height: em(64);
    }
  }
}

.tweet-box-toolbar {
  @extend %panel-group-horizontal;
  @extend %panel-group-vertical-bottom;
}
