//
// + Feed
// =============================================================================


.feed-group-vertical {
  @extend %panel-group-vertical;
}

.feed-group-horizontal {
  // @extend %panel-group-horizontal;

  button {
    // I'm not sure if this is good or bad.
    // Should button groups always make buttons flex?
    // flex: none;
  }
}

//
// + Tweet box
// =============================================================================

.tweet-box-group {
  @extend %panel-group-vertical;
}

.tweet-box {
  @extend %panel;
  display: flex;
  padding: em(16);
  z-index: 2;

  textarea { // this should be in it's own element
    @extend %panel;
    @include padding(4 x, em);
    width: 100%;
    height: em(32);
    outline: none;
    resize: none;

    &::-webkit-input-placeholder {
      color: $color-first-4;
    }

    &:focus {
      height: em(64);
    }
  }
}

.tweet-toolbar {
  @extend %panel-group-horizontal;
  @extend %panel-group-vertical-bottom;
}

//
// + Tweet
// =============================================================================

.tweet {
  @extend %panel-interactive;
  display: flex;
  padding: em(16);
}

.tweet-left {
  margin-right: em(16);
}

.tweet-right {
  flex: 1;
}

.tweet-avatar {
  @include size(62, em);
  @include min-size(48, em);
  border-radius: 50%;
  background-color: $color-first-1;
  box-shadow: $border;

  background-image: url(../../avatar.png);
  background-size: cover;
}

.tweet-author {
  font-weight: bold;
}

// .tweet-tweet {}
