//
// + Drawer theme
// =============================================================================


.menu-drawer {
  background-color: $background-color;
  box-shadow: $border-left;

  @at-root .menu-dropdown & {
    @include breakpoint(6) {
      background-color: initial;
      box-shadow: initial;
    }
  }

  ul ul {
    background-color: $color-first-1;

    @at-root .menu-dropdown & {
      @include breakpoint(6) {
        radius: $border-radius, em;
        background-color: $background-color;
        box-shadow: $border;
      }
    }

    ul {
      background-color: $color-first-1 !important; // SCSS Lint: I know what I'm doing here.
      box-shadow: initial !important; // SCSS Lint: I know what I'm doing here.

      @at-root .menu-dropdown & {
        @include breakpoint(6) {
          radius: 0;
        }
      }
    }
  }
}
