//
// + Avatar
// =============================================================================
// 1. Chrome has a weird 1px issue with border

$avatar-size: 192;
$border-width: 12;

.profile {
  height: 128, em;
  padding-top: 0;

  .center {
    padding: 0 x;
  }

  .inner {
    @include flex-align(center, center);
  }

  .profile-avatar {
    // @include size(($avatar-size - ($border-width * 0)), em); // this makes no sense
    size: $avatar-size, em;
    margin-top: 0 - ($avatar-size / 2), em;
    border: solid em($border-width) $white;
    border-radius: 50%;
    background-color: $white;
    background-position: 0 -1px; // 1
    background-size: cover;
    animation: fade-up 1s;
  }
}
