%panel-group {
  display: flex;

  > %panel {
    margin: 0;
    border-radius: if($border-radius, 0, null);
    flex: 1;
  }
}

%panel-group-horizontal {
  @extend %panel-group;

  > %panel {
    margin-left: em(0 - $border-thickness);

    &:first-child {
      margin-left: 0;
      border-top-left-radius: em($border-radius);
      border-bottom-left-radius: em($border-radius);
    }

    &:last-child {
      border-top-right-radius: em($border-radius);
      border-bottom-right-radius: em($border-radius);
    }
  }
}

%panel-group-vertical {
  @extend %panel-group;
  flex-direction: column;

  > %panel {
    margin-top: em(0 - $border-thickness);

    &:first-child {
      margin-top: 0;
      border-top-left-radius: em($border-radius);
      border-top-right-radius: em($border-radius);
    }

    &:last-child {
      border-bottom-right-radius: em($border-radius);
      border-bottom-left-radius: em($border-radius);
    }
  }
}

// Split into new file?

// %panel-group-horizontal-top {}

// %panel-group-horizontal-bottom {}

// %panel-group-vertical-top {}

%panel-group-vertical-bottom {
  margin-top: em(0 - $border-thickness);

  > %panel,
  > %panel-interactive {
    &:first-child {
      border-top-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
    }
  }
}
