//
// + Group
// =============================================================================


%panel-group {
  display: flex;

  > %panel {
    margin: 0;
    radius: if($border-radius, 0, null);
    flex: 1;
  }
}

%panel-group-horizontal {
  @extend %panel-group;

  > %panel {
    margin-left: 0 - $border-thickness, em;

    &:first-child {
      margin-left: 0;
      radius: $border-radius x x $border-radius, em;
    }

    &:last-child {
      radius: x $border-radius $border-radius x, em;
    }
  }
}

%panel-group-vertical {
  @extend %panel-group;
  flex-direction: column;

  > %panel {
    margin-top: 0 - $border-thickness, em;

    &:first-child {
      margin-top: 0;
      radius: $border-radius $border-radius x x, em;
    }

    &:last-child {
      radius: x x $border-radius $border-radius, em;
    }
  }
}

// Split into new file?

// %panel-group-horizontal-top {}

// %panel-group-horizontal-bottom {}

// %panel-group-vertical-top {}

%panel-group-vertical-bottom {
  margin-top: 0 - $border-thickness, em;

  > %panel,
  > %panel-interactive {
    &:first-child {
      radius: 0 x x x; // add radius-top, radius-right, etc to lifesaver?
    }

    &:last-child {
      radius: x 0 x x; // add radius-top, radius-right, etc to lifesaver?
    }
  }
}
