//
// + Panel
// =============================================================================


$panel-margin: $line-height / 4; // add to variables theme file?

%panel-style {
  radius: $border-radius, em;
  background-color: $white;
  color: $color-first-8;
  box-shadow: $border;
}

%panel {
  @extend %panel-style;
  margin-top: $panel-margin, em;
  padding: x 16, em;

  &:first-child {
    margin-top: 0;
  }

  @at-root .transparent & {
    background-color: $color-first-1;
  }
}
