%panel-style {
  border-radius: em($border-radius);
  background-color: $white;
  color: $color-first-8;
  border: $border;

  @at-root .transparent & {
    background-color: $color-first-1;
  }
}

%panel {
  @extend %panel-style;
  margin-top: em(4);
  padding: em(4 16);

  &:first-child {
    margin-top: 0;
  }
}

%panel-style-inset {
  @extend %panel-style;
  border: none;
  box-shadow: $border-inset;
}

%panel-inset {
  @extend %panel;
  @extend %panel-style-inset;
}
