$panel-margin: $line-height / 4; // add to variables theme file?

%panel-style {
  border-radius: em($border-radius);
  background-color: $white;
  color: $color-first-8;
  border: $border;

  @at-root .transparent & {
    background-color: $color-first-1;
  }
}

%panel {
  @extend %panel-style;
  margin-top: em($panel-margin);
  padding-left: em(16);
  padding-right: em(16);

  &:first-child {
    margin-top: 0;
  }
}
