//
// + Panel interactive
// =============================================================================


%panel-interactive-common { // better name?
  @extend %panel;
  transition: all .25s; // variable?
  cursor: pointer;
  z-index: 1; // So borders transition properly when z-index changes

  &:hover,
  &:focus {
    z-index: 2;
  }
}

%panel-interactive {
  @extend %panel-interactive-common;

  &:hover,
  &:focus {
    background-color: remove-alpha($color-first-2, $white); // variable?
  }

  &:active {
    background-color: remove-alpha($color-first-3, $white); // variable?
  }

  @at-root .transparent & {
    &:hover,
    &:focus {
      background-color: $color-first-2;
    }

    &:active {
      background-color: $color-first-3;
    }
  }
}

%panel-interactive-border {
  @extend %panel-interactive-common;

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 em($border-thickness) layer-colors($border-color, $color-first-2); // variable?
  }

  &:active {
    box-shadow: inset 0 0 0 em($border-thickness) layer-colors($border-color, $color-first-3); // variable?
  }
}
