//
// + Test grid media
// =============================================


@include breakpoint(1) {
  @include generate-grids($column-media: '-media');
}

.test-grid-media {
  @extend %grid-1-media;
}

@media (min-width: 6.66796875em) {
  .test-grid-media {
    > [class^='column-']:nth-child(n) {
      margin-top: 1em;
      margin-right: 2em;
    }

    > [class^='column-']:nth-child(-n + 1) {
      margin-top: unset;
    }

    > [class^='column-']:nth-child(1n),
    > [class^='column-']:last-child {
      margin-right: unset;
    }
  }
}
